@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montez";
  font-style: normal;
  font-weight: 400;
  src: local("Montez Regular"), local("Montez-Regular"),
    url("../fonts/montez-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/montez-v10-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Source Sans Pro Italic"), local("SourceSansPro-Italic"),
    url("../fonts/source-sans-pro-v13-latin-italic.woff2") format("woff2"),
    url("../fonts/source-sans-pro-v13-latin-italic.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.navigation {
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logotype {
  font-size: 26px;
  color: #fed136;
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 400;
  line-height: 1.577;
}
.menu {
  display: flex;
}
.menu_item:not(:last-child) {
  margin-right: 35px;
}
.menu-item-link {
  color: #000000;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 2.929;
}
.menu-item-link:hover,
.menu-item-link:focus {
  color: #fed136;
}
.first-header {
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(34, 34, 34);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
}
.span-subheader {
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  color: rgb(119, 119, 119);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 72px;
}
.container-services {
  padding-top: 85px;
  padding-bottom: 120px;
}
.services-items {
  display: flex;
  justify-content: space-between;
}
.services-item {
  text-align: center;
  width: 290px;
}
.services-item:before {
  display: block;
  content: "";
  border-radius: 50%;
  width: 72px;
  height: 72px;
  border: 3px solid #fed136;
  margin: 0 auto;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.ecommerce:before {
  background-image: url(../img/icon-basket.png);
}
.responsiveweb:before {
  background-image: url(../img/icon-laptop.png);
}
.websecurity:before {
  background-image: url(../img/icon-locked.png);
}
.services-item-header {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1.5;
  color: rgb(34, 34, 34);
  margin-bottom: 10px;
}
.services-item-description {
  font-size: 14px;
  font-family: "Roboto Slab";
  color: rgb(119, 119, 119);
  line-height: 1.5;
  font-weight: 400;
}
.contact-us-header {
  font-size: 40px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
  padding-top: 100px;
}

.contact-us {
  background-color: #222222;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: right;
}

.inputs-wrapper {
  width: calc(50% - 15px);
  margin-right: 30px;
}
.input-li:not(:last-child) {
  margin-bottom: 30px;
}
.textarea-wrapper {
  width: calc(50% - 15px);
}
.inputs-all-cover {
  display: flex;
  width: 945px;
}
.input-all-elements {
  border-radius: 2px;
  border: 1px solid rgb(204, 204, 204);
  padding: 20px;
  font-size: 14px;
  font-family: "Montserrat";
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
.input-item {
  width: 100%;
  height: 51px;
}
.input-textarea {
  width: 100%;
  height: 211px;
  resize: none;
}
.input-item::placeholder,
.input-textarea::placeholder {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
.form-btn-wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.form-button {
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  width: 240px;
  height: 66px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.input-item:focus,
.input-.input-textarea {
  outline: none;
}
.input-item:required:focus:valid:not(:placeholder-shown),
.input-textarea:required:focus:valid:not(:placeholder-shown) {
  border: 3px solid green;
}

.input-item:required:focus:invalid:not(:placeholder-shown),
.input-textarea:required:focus:invalid:not(:placeholder-shown) {
  border: 3px solid red;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
